In [1]:
import pandas as pd

In [2]:
coffee_data = pd.read_csv('coffe_string_data.csv')
coffee_data

              ordernumber date status total shipping
0  #59824 2022-02-04 Completed "$94.00 for 6 item...
1  #59105 2022-01-16 Completed "$68.00 for 4 item...
2  #57289 2021-12-02 Processing "$122.95 for 8 it...
3  #55384 2021-10-12 Completed "$128.00 for 7 ite...
4  #53583 2021-08-27 Completed "$96.00 for 6 item...
5  #50692 2021-06-26 Completed "$119.90 for 8 ite...
6  #47549 2021-05-12 Completed "$93.90 for 6 item...
7  #42734 2021-03-09 Completed "$113.60 for 8 ite...
8  #39411 2021-01-26 Completed "$89.75 for 6 item...
9  #34927 2020-12-08 Completed "$106.85 for 7 ite...

In [3]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ordernumber date status total shipping  10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [4]:
coffee_data = pd.read_csv('coffe_string_data.csv', sep=" ")
coffee_data

  ordernumber        date      status                total         shipping
0      #59824  2022-02-04   Completed   $94.00 for 6 items  In-store pickup
1      #59105  2022-01-16   Completed   $68.00 for 4 items            FedEx
2      #57289  2021-12-02  Processing  $122.95 for 8 items  In-store pickup
3      #55384  2021-10-12   Completed  $128.00 for 7 items             USPS
4      #53583  2021-08-27   Completed   $96.00 for 6 items             USPS
5      #50692  2021-06-26   Completed  $119.90 for 8 items  In-store pickup
6      #47549  2021-05-12   Completed   $93.90 for 6 items             USPS
7      #42734  2021-03-09   Completed  $113.60 for 8 items            FedEx
8      #39411  2021-01-26   Completed   $89.75 for 6 items             USPS
9      #34927  2020-12-08   Completed  $106.85 for 7 items            FedEx

In [5]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ordernumber  10 non-null     object
 1   date         10 non-null     object
 2   status       10 non-null     object
 3   total        10 non-null     object
 4   shipping     10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

### 1. Rename column headers

In [6]:
coffee_data = coffee_data.rename(columns={'ordernumber': 'Order Number',
                                          'date': 'Date',
                                          'status': 'Status',
                                            'total': 'Total and Items', 
                                            'shipping': "Shipping Method"})
coffee_data

  Order Number        Date      Status      Total and Items  Shipping Method
0       #59824  2022-02-04   Completed   $94.00 for 6 items  In-store pickup
1       #59105  2022-01-16   Completed   $68.00 for 4 items            FedEx
2       #57289  2021-12-02  Processing  $122.95 for 8 items  In-store pickup
3       #55384  2021-10-12   Completed  $128.00 for 7 items             USPS
4       #53583  2021-08-27   Completed   $96.00 for 6 items             USPS
5       #50692  2021-06-26   Completed  $119.90 for 8 items  In-store pickup
6       #47549  2021-05-12   Completed   $93.90 for 6 items             USPS
7       #42734  2021-03-09   Completed  $113.60 for 8 items            FedEx
8       #39411  2021-01-26   Completed   $89.75 for 6 items             USPS
9       #34927  2020-12-08   Completed  $106.85 for 7 items            FedEx

### 2. Remove the "#" from the order number and convert the order number to a int64.

In [7]:
coffee_data["Order Number"] = coffee_data["Order Number"].str.replace('#', '')
coffee_data

  Order Number        Date      Status      Total and Items  Shipping Method
0        59824  2022-02-04   Completed   $94.00 for 6 items  In-store pickup
1        59105  2022-01-16   Completed   $68.00 for 4 items            FedEx
2        57289  2021-12-02  Processing  $122.95 for 8 items  In-store pickup
3        55384  2021-10-12   Completed  $128.00 for 7 items             USPS
4        53583  2021-08-27   Completed   $96.00 for 6 items             USPS
5        50692  2021-06-26   Completed  $119.90 for 8 items  In-store pickup
6        47549  2021-05-12   Completed   $93.90 for 6 items             USPS
7        42734  2021-03-09   Completed  $113.60 for 8 items            FedEx
8        39411  2021-01-26   Completed   $89.75 for 6 items             USPS
9        34927  2020-12-08   Completed  $106.85 for 7 items            FedEx

In [8]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order Number     10 non-null     object
 1   Date             10 non-null     object
 2   Status           10 non-null     object
 3   Total and Items  10 non-null     object
 4   Shipping Method  10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [9]:
coffee_data["Order Number"] = pd.to_numeric(coffee_data["Order Number"])
coffee_data

   Order Number        Date      Status      Total and Items  Shipping Method
0         59824  2022-02-04   Completed   $94.00 for 6 items  In-store pickup
1         59105  2022-01-16   Completed   $68.00 for 4 items            FedEx
2         57289  2021-12-02  Processing  $122.95 for 8 items  In-store pickup
3         55384  2021-10-12   Completed  $128.00 for 7 items             USPS
4         53583  2021-08-27   Completed   $96.00 for 6 items             USPS
5         50692  2021-06-26   Completed  $119.90 for 8 items  In-store pickup
6         47549  2021-05-12   Completed   $93.90 for 6 items             USPS
7         42734  2021-03-09   Completed  $113.60 for 8 items            FedEx
8         39411  2021-01-26   Completed   $89.75 for 6 items             USPS
9         34927  2020-12-08   Completed  $106.85 for 7 items            FedEx

In [10]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order Number     10 non-null     int64
 1   Date             10 non-null     object
 2   Status           10 non-null     object
 3   Total and Items  10 non-null     object
 4   Shipping Method  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

### 3. Convert date to datetime

In [11]:
coffee_data["Date"] = coffee_data["Date"].astype('datetime64[ns]')
coffee_data

   Order Number       Date      Status      Total and Items  Shipping Method
0         59824 2022-02-04   Completed   $94.00 for 6 items  In-store pickup
1         59105 2022-01-16   Completed   $68.00 for 4 items            FedEx
2         57289 2021-12-02  Processing  $122.95 for 8 items  In-store pickup
3         55384 2021-10-12   Completed  $128.00 for 7 items             USPS
4         53583 2021-08-27   Completed   $96.00 for 6 items             USPS
5         50692 2021-06-26   Completed  $119.90 for 8 items  In-store pickup
6         47549 2021-05-12   Completed   $93.90 for 6 items             USPS
7         42734 2021-03-09   Completed  $113.60 for 8 items            FedEx
8         39411 2021-01-26   Completed   $89.75 for 6 items             USPS
9         34927 2020-12-08   Completed  $106.85 for 7 items            FedEx

In [12]:
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order Number     10 non-null     int64
 1   Date             10 non-null     datetime64[ns]
 2   Status           10 non-null     object
 3   Total and Items  10 non-null     object
 4   Shipping Method  10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 528.0+ bytes

### 4. Convert total to two columns: "Total" column with the total as a float, "Number of Items" as an int64.

In [13]:
total_items = coffee_data["Total and Items"].str.split(' ')
total_items

0     [$94.00, for, 6, items]
1     [$68.00, for, 4, items]
2    [$122.95, for, 8, items]
3    [$128.00, for, 7, items]
4     [$96.00, for, 6, items]
5    [$119.90, for, 8, items]
6     [$93.90, for, 6, items]
7    [$113.60, for, 8, items]
8     [$89.75, for, 6, items]
9    [$106.85, for, 7, items]
Name: Total and Items, dtype: object

In [14]:
total_amt = []
num_items = []
for item in total_items:
    total_amt.append(item[0].replace('$', ''))
    num_items.append(item[2])

In [15]:
total_amt

['94.00',
 '68.00',
 '122.95',
 '128.00',
 '96.00',
 '119.90',
 '93.90',
 '113.60',
 '89.75',
 '106.85']

In [16]:
num_items

['6', '4', '8', '7', '6', '8', '6', '8', '6', '7']

In [17]:
coffee_data["Total"] = total_amt
coffee_data["Number of Items"] = num_items
coffee_data

,Order Number,Date,Status,Total and Items,Shipping Method,Total,Number of Items
0,59824,2022-02-04,Completed,$94.00 for 6 items,In-store pickup,94.00,6
1,59105,2022-01-16,Completed,$68.00 for 4 items,FedEx,68.00,4
2,57289,2021-12-02,Processing,$122.95 for 8 items,In-store pickup,122.95,8
3,55384,2021-10-12,Completed,$128.00 for 7 items,USPS,128.00,7
4,53583,2021-08-27,Completed,$96.00 for 6 items,USPS,96.00,6
5,50692,2021-06-26,Completed,$119.90 for 8 items,In-store pickup,119.90,8
6,47549,2021-05-12,Completed,$93.90 for 6 items,USPS,93.90,6
7,42734,2021-03-09,Completed,$113.60 for 8 items,FedEx,113.60,8
8,39411,2021-01-26,Completed,$89.75 for 6 items,USPS,89.75,6
9,34927,2020-12-08,Completed,$106.85 for 7 items,FedEx,106.85,7

In [18]:
coffee_data_clean = coffee_data.drop(["Total and Items"], axis=1)
coffee_data_clean["Total"] = coffee_data_clean["Total"].astype(float)
coffee_data_clean["Number of Items"] = pd.to_numeric(coffee_data_clean["Number of Items"])

In [19]:
coffee_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order Number     10 non-null     int64
 1   Date             10 non-null     datetime64[ns]
 2   Status           10 non-null     object
 3   Shipping Method  10 non-null     object
 4   Total            10 non-null     float64
 5   Number of Items  10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 608.0+ bytes

In [20]:
# Reorder the columns
coffee_data_clean = coffee_data_clean[['Order Number', 'Date', 'Status', 'Total', 'Number of Items', 'Shipping Method']]
coffee_data_clean

,Order Number,Date,Status,Total,Number of Items,Shipping Method
0,59824,2022-02-04,Completed,94.00,6,In-store pickup
1,59105,2022-01-16,Completed,68.00,4,FedEx
2,57289,2021-12-02,Processing,122.95,8,In-store pickup
3,55384,2021-10-12,Completed,128.00,7,USPS
4,53583,2021-08-27,Completed,96.00,6,USPS
5,50692,2021-06-26,Completed,119.90,8,In-store pickup
6,47549,2021-05-12,Completed,93.90,6,USPS
7,42734,2021-03-09,Completed,113.60,8,FedEx
8,39411,2021-01-26,Completed,89.75,6,USPS
9,34927,2020-12-08,Completed,106.85,7,FedEx